html {
    background-color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

header {
    height: 69px;
    display: inline-flex;
    border-bottom: 1px solid seashell;
    width: 100%;
}

nav {
    float: right;
}

.content {
    text-align: center;
    display: block;
}

.item-image {
    width: 300px;
    height: 200px;
}

#logo {
    padding-left: 10px;
}

#logo-image {
    height: 50px;
}

#mission {
    display: flex;
    background-image: url(../images/img-mission-background.webp);
    height: 700px;
    width: 1200px;
    align-items: center;
}

#mission-caption {
    width: 1200px;
    height: fit-content;
    background-color: #000000;
}

#tea-month {
    width: 1000px;
    height: auto;
}